*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    position: relative;
    width: 100%;
    height: 250px;


    align-items: center;
    justify-content: center;
    display: flex;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

.center {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 900px;
    top: 41px;
}
.nome1{
    text-align: left;

    color: #FFFFFF;
}
.nome2{
    text-align: right;
    color: #FFFFFF;
}


.txtBusca{

    width: 900px;
    height: 65px;
    margin-top: 73px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    

}
body{
    background: #F3F5F7;
}
section{
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    
}


.post{
    width: 900px;
    margin-bottom: 50px;

    


    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}

.data{
    margin-top: 23px;
    margin-left: 24px;


    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #717171;   
}
.topcont{
    display: flex;
    justify-content: space-between;
}


.like{
    text-align: right;
    margin-top: 23px;
    margin-right: 26px;


}

.titulo{    
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top: 22px;
    margin-left: 25px;

    color: #1A202C;
}

.text{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;


    color: #717171;
}